<!DOCTYPE html>
<html layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="my-4">비밀번호 변경 완료</h1>
                <div class="card text-center">
                    <div class="card-body">
                        <p>비밀번호를 변경하였습니다.</p>
                        <a href="/auth/login" class="btn btn-primary">로그인하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>